<ng-container>
    <div class="group-inline col-12">

      <div class="profile-info-row">
        <div class="profile-info-name"> {{metadata.label}} : </div>

        <div class="profile-info-value">
            <span>{{value}}</span>
        </div>
    </div>
</div>
</ng-container>