<h1 id="tableLabel">Weather forecast</h1>

<p>Dynamic forms - Example </p>

<ng-container *ngFor="let property of properties">
  <ng-template
    appDynamicDisplayHost
    [metadata]="property.metadata"
    [value]="property.value">
  </ng-template>
</ng-container>
